<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medplanner">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launchered_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Contact_us"></activity>
        <activity android:name=".registerActivity" />
        <activity android:name=".CustomAlarmScreen" />
        <activity
            android:name=".meddetails"
            android:theme="@style/meddetails" />
        <activity
            android:name=".Primary_Screen"
            android:label="@string/title_activity_primary__screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".loginActivity" />
        <activity
            android:name=".splash_screen"
            android:theme="@style/NoTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Alarmbroadcast" />

        <service android:name=".TunePlayer" />
    </application>

</manifest>